.btn {
    background: #EFEFEF;
    border-radius: 3px;
    font-size: 10px;
    color: #3F3F3F;
    letter-spacing: 1px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    transition: all 300ms;
}

.btn:hover {
    background: #949494;
    color: white;
}

.btn-piece {
    background: #EFEFEF;
    border-radius: 3px;
    font-size: 10px;
    color: #3F3F3F;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    line-height: 15px;
    width: 102px;
}

.btn-piece:hover {
    background: #949494;
    color: white;
    transition: all 300ms;
}
